<!DOCTYPE html>
<html>
<head>
    <title>OP-API</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <header>
        <img src="../static/cdp.jpg" alt="Logo" class="logo">
        <h1>ONE PIECE CHARACTER ML by Ilan</h1>
    </header>

    <div class="container">
        <form action="#" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="video">Select a video</label>
                <input type="file" name="video" id="video" accept="video/*" onchange="showVideo()">
            </div>

            <div class="form-group">
                <input type="button" value="Screenshot" onclick="captureScreenshot()" class="button-primary">
            </div>

            <div class="form-group" id="detectionButtonGroup" style="display: none;">
                <input type="button" value="Detect" onclick="detectCharacters()" class="button-primary">
            </div>
        </form>

        <div>
            <img id="screenshotImage" class="screenshot-image" style="display: none;">
            <div id="predictionElement"></div> 
        </div>

        <video id="selectedVideo" controls style="display: none;"></video>
        <canvas id="screenshotCanvas"></canvas>

    </div>

    <script>
        const videoElement = document.getElementById('selectedVideo');
        const canvasElement = document.getElementById('screenshotCanvas');
        const screenshotImageElement = document.getElementById('screenshotImage');
        const detectionButtonGroupElement = document.getElementById('detectionButtonGroup');
        const predictionElement = document.getElementById('predictionElement'); 

        function showVideo() {
            const fileInput = document.getElementById('video');
            const file = fileInput.files[0];
            const fileURL = URL.createObjectURL(file);
            videoElement.src = fileURL;
            videoElement.style.display = 'block';
            detectionButtonGroupElement.style.display = 'none';
            screenshotImageElement.style.display = 'none';
        }

        function captureScreenshot() {
            const context = canvasElement.getContext('2d');

            context.drawImage(videoElement, 0, 0, canvasElement.width, canvasElement.height);
            const screenshotURL = canvasElement.toDataURL();
            screenshotImageElement.src = screenshotURL;

            screenshotImageElement.style.display = 'block';
            detectionButtonGroupElement.style.display = 'block';
            screenshotImageElement.alt = "Screenshot";
        }

        function dataURLtoFile(dataURL, filename) {
            const arr = dataURL.split(',');
            const mime = arr[0].match(/:(.*?);/)[1];
            const bstr = atob(arr[1]);
            let n = bstr.length;
            const u8arr = new Uint8Array(n);
            while (n--) {
               u8arr[n] = bstr.charCodeAt(n);
            }
            return new File([u8arr], filename, { type: mime });
         }

         function detectCharacters() {
            const imageElement = document.getElementById('screenshotImage');
            const file = dataURLtoFile(imageElement.src, 'screenshot.png'); 

            const formData = new FormData();
            formData.append('image', file);

            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/modele');

            xhr.onload = function () {
               if (xhr.status === 200) {
                     const character = xhr.responseText;
                     predictionElement.innerHTML = "The character is " + character;
                     predictionElement.style.fontSize = "24px"; 
                     predictionElement.style.fontWeight = "bold"; 
               } else {
                     console.error('Error!');
               }
            };

            xhr.send(formData);
         }
</script>

</body>
</html>